
@using AynarMVC.Models;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Employee>
<div class="col-12 col-md-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Table with outer spacing</h4>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p class="card-text">
                    Using the most basic table up, here’s how
                    <code>.table</code>-based tables look in Bootstrap. You can use any example
                    of below table for your table and it can be use with any type of bootstrap tables.
                </p>
                <!-- Table with outer spacing -->
                <div class="table-responsive">
                    <table class="table table-lg">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Img is Exist</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-bold-500">@item.Name.Substring(0,20)</td>
                                    <td>@item.Position.PositionName.Substring(0,20)</td>

                                    <td>@item.Title.Substring(0,20)</td>
                                    @if (item.ImgPath != null)
                                    {
                                        <td class="text-bold-500">True</td>
                                    }
                                    else
                                    {
                                        <td class="text-bold-500">False</td>
                                    }
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>